@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

/*WIREFRAMES
.frame {
  border: 1px red solid;
}*/

/*STYLE*/
body {
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main {
  width: 1440px;
  height: 800px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
}

.card {
  width: 730px;
  height: 280px;
  display: grid;
  grid-template-columns: 290px 440px;
  grid-template-rows: 280px;
  grid-template-areas: "left right";
  margin-top: 260px;
  border-radius: 12px;
}

.drawers {
  width: 290px;
  height: 280px;
  grid-area: left;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
  object-position: left;
}

.content {
  width: 440px;
  height: 280px;
  grid-area: right;
  border-radius: 0 12px 12px 0;
  background: white;
}

.heavy,
.light,
.michelle {
  margin-left: 40px;
  color: hsl(217, 19%, 35%);
}

.heavy {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

.light {
  font-weight: 400;
  font-size: 13px;
  margin-top: 20px;
}

.michelle {
  display: grid;
  height: 40px;
  grid-template-columns: 50px 260px 130px;
  font-size: 13px;
  margin-top: 20px;
}

.name {
  font-weight: 700;
}

.date {
  color: hsl(212, 23%, 69%);
}

.socials {
  width: 40px;
  height: 40px;
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareIcon {
  width: 50%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*HIDDEN POP UP*/
.popup {
  grid-area: share;
  width: 230px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  color: white;
  border-radius: 12px;
  margin-left: 542px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  width: 20%;
  height: 20%;
}

.share {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  letter-spacing: 4px;
}

.social {
  margin-right: 13px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid hsl(217, 19%, 35%);
  margin-left: 648px;
}
