@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

/*WIREFRAMES*/
.frame {
  border: 1px red solid;
}

/*STYLE*/
body {
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main {
  width: 1440px;
  height: 800px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
}

.card {
  width: 730px;
  height: 280px;
  display: grid;
  grid-template-columns: 290px 440px;
  grid-template-rows: 280px;
  grid-template-areas: "left right";
}

.drawers {
  width: 290px;
  height: 280px;
  grid-area: left;
}

.content {
  width: 440px;
  height: 280px;
  grid-area: right;
}

.michelle {
  display: grid;
  grid-template-columns: 80px 280px 80px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*HIDDEN POP UP*/
.share {
  display: none;
}
